html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100%;
}

.menu {
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.loginBtn {
    margin: 10px;
}


.documentList {
    /*border: 2px black solid;*/
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.documentContainer{
    width: 500px;
    height: 500px;
    background-color:gray;
    position: relative;
}

.createDocument {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    width: 100%;
    height: 130px;
    background-color: grey;
    bottom: 0;
    margin-top: auto;
}

p {
    text-align: center;
    font-size: 2rem;
}

.textInput {
    height: 700px;
    width: 95%;
}

.docTitle {
    width: 300px;
    height: 15px;
    margin: 20px 0 20px 0;
}

.newDocButton {
    margin-bottom: 20px;
}

.documents {
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

